<?xml version="1.0"?>
<model>
  <name>MBARI_WEC</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Michael Anderson</name>
    <email>anderson@mbari.org</email>
  </author>
  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>
  <author>
    <name>Dharini Dutia</name>
    <email>dharini@openrobotics.org</email>
  </author>

  <description>
    ROS2-enabled MBARI-WEC (Wave Energy Converter) model for ocean sensing and harvesting wave energy
    with quasi-static multi-physics plugins for Pneumatic Spring and Electro-Hydraulic Power Take-Off.
  </description>
</model>
