<?xml version="1.0" ?>
<server_config>
  <plugins>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-physics-system"
            name="gz::sim::systems::Physics">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-user-commands-system"
            name="gz::sim::systems::UserCommands">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-scene-broadcaster-system"
            name="gz::sim::systems::SceneBroadcaster">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
      filename="gz-sim-buoyancy-system"
      name="gz::sim::systems::Buoyancy">
      <uniform_fluid_density>1000</uniform_fluid_density>
      <enable>MBARI_WEC_BASE::PTO</enable>
      <enable>MBARI_WEC_BASE::HeaveCone</enable>
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-forcetorque-system"
            name="gz::sim::systems::ForceTorque">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-imu-system"
            name="gz::sim::systems::Imu">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-magnetometer-system"
            name="gz::sim::systems::Magnetometer">
    </plugin>
  </plugins>
</server_config>
