<?xml version="1.0" ?>
<server_config>
  <plugins>
    <plugin entity_name="*"
            entity_type="world"
            filename="ignition-gazebo-physics-system"
            name="ignition::gazebo::systems::Physics">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="ignition-gazebo-user-commands-system"
            name="ignition::gazebo::systems::UserCommands">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="ignition-gazebo-scene-broadcaster-system"
            name="ignition::gazebo::systems::SceneBroadcaster">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
      filename="ignition-gazebo-buoyancy-system"
      name="ignition::gazebo::systems::Buoyancy">
      <graded_buoyancy>
        <default_density>1025</default_density>
        <density_change>
          <above_depth>0</above_depth>
          <density>1</density>
        </density_change>
      </graded_buoyancy>
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="ignition-gazebo-forcetorque-system"
            name="ignition::gazebo::systems::ForceTorque">
    </plugin>
  </plugins>
</server_config>
