name: Build and test

on: 
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'  # run nightly at midnight

jobs:
  tests:
    name: Build and test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - gz-version: "garden"
            ros-distro: "humble"
    container:
      image: ubuntu:22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Test
        run: .github/workflows/build-and-test.sh
        env:
          GZ_VERSION: ${{ matrix.gz-version  }}
          ROS_DISTRO: ${{ matrix.ros-distro }}
      - name: Archive rosbags
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: rosbags
          path: ~/ws/build/buoy_tests/rosbag*
          if-no-files-found: ignore
          retention-days: 2
